.movie-sections {
  padding: 40px 60px;
  background-color: rgb(14, 14, 14);
}

.section {
  margin-bottom: 60px;
}

.section-title {
  font-family: 'Poppins', sans-serif !important;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  border-left: 5px solid #e13427;
  padding-left: 10px;
  color: #b7afaf;
}

@media (max-width: 768px) {
  .movie-sections {
    padding: 24px;
  }

  .section-title {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .section-title {
    font-size: 18px;
    padding-left: 6px;
  }
}
